<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <style>
        body{
            margin: 0;
        }
        header{
            color: lightcyan;
            background-color: darkcyan;
            padding: 20px;
            margin: 0;
            text-align: center;
        }
        header a {
            color: lightcyan;
            padding: 20px 0;
        }
        header a:hover{
            color: black;
        }
        main{
            margin: 20px 10%;
        }
    </style>
</head>

<body>
    <header>
        <a href="/">Add New Book</a> | <a href="/books">Book List</a>
    </header>